.loading{
    position: fixed;
    @include rowTextCenter;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    z-index: 1000;
    animation: load-spider 3000ms ease-in-out forwards;
    // cursor: wait;

    &::after{
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10vw;
        height: 10vw;
        border-style: double;
        border-color: whitesmoke;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-width: 10px;
        border-radius: 50%;
        animation: spin 2500ms linear 1 forwards;
    }
}
@keyframes load-spider {
    0%{
        opacity: 0.95;
    }
    30%{
        opacity: 0.95;
    }
    40%{
        opacity: 0.55;
    }
    50%{
        opacity: 0.4;
    }
    60%{
        opacity: 0.3;
    }
    70%{
        opacity: 0.2;
    }
    90%{
        opacity: 0.1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}
@keyframes spin {
	 0% {transform:rotate(0deg);}
    20% {transform:rotate(100deg);}
	40% {transform:rotate(150deg);}
    60% {transform:rotate(200deg);}
	80% {transform:rotate(300deg);}
   100% {
       transform:rotate(360deg);
       opacity: 0;
    }
}