// PRINCIPAL COLORS
$backgroundGrey : #eaeaea;
$backgroundLightGrey: #f6f6f6;
$backgroundColorNewProduct: #99e2d0;
$colorNewProduct: #008766;
$colorViolet : #9356dc;
$colorWhite : #ffffff;
$colorBlack: #000000;

