@charset "UTF-8";
/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* MAIN */
main {
  display: flex;
  flex-flow: column nowrap;
}

/* section location */
.location {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(180deg, rgba(183, 183, 183, 0.68) 0.05%, #eaeaea 7%);
}
.location .location__wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 164px;
  height: 100%;
}
.location .location__wrapper .fas.fa-map-marker-alt {
  display: flex;
  align-items: center;
  padding: 16px 17px 18px 0;
  font-size: 0.95rem;
  color: #353535;
}
.location .location__wrapper p {
  display: flex;
  align-items: center;
  padding: 16px 0;
  font-size: 0.93rem;
  color: #353535;
}

/* section description */
.description {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding: 41px 0 57px 0;
  background-color: #f6f6f6;
}
.description h1 {
  text-align: center;
  font-size: 1.3rem;
  padding: 0 20.2% 14px 16.5%;
}
.description p {
  text-align: center;
  padding: 0 8.8% 27px 10%;
  color: #414141;
}
.description .description__btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(172deg, #eb72da 15%, #9d59dc 100%);
  -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.135);
  -ms-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.135);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.135);
  width: 210px;
  height: 50px;
  font-size: 0.9rem;
  border-radius: 50px;
  color: #ffffff;
  overflow: hidden;
}
.description .description__btn a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
}
.description .description__btn a p {
  display: flex;
  flex-flow: row nowrap;
  color: #ffffff;
  padding: 0 20px;
  font-size: 0.9rem;
}

/* section notice */
.operation {
  display: flex;
  flex-flow: column nowrap;
}
.operation .operation__title {
  display: flex;
  height: 103px;
  padding: 50px 5.33% 30px 5.33%;
}
.operation .operation__title h2 {
  font-size: 1.3rem;
}
.operation .operation__choices {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 4.8% 44px 4.8%;
}

.operation-choice {
  display: flex;
  align-items: center;
  width: 100%;
  height: 73px;
  margin-bottom: 24px;
}
.operation-choice .operation-step {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  background-color: #9356dc;
  border-radius: 50px;
  color: white;
  padding-top: 4px;
  font-size: 0.8rem;
}
.operation-choice .operation-description {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  -o-box-shadow: 0px 7px 5px 0px #eaeaea;
  -ms-box-shadow: 0px 7px 5px 0px #eaeaea;
  box-shadow: 0px 7px 5px 0px #eaeaea;
  margin-left: 12px;
  padding-left: 35px;
  border-radius: 15px;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.operation-choice .operation-description .fa-mobile-alt {
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 19px;
  color: grey;
  font-size: 1.2rem;
}
.operation-choice .operation-description .fa-list-ul, .operation-choice .operation-description .fa-store {
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 19px;
  color: #7e7e7e;
  font-size: 1.2rem;
  transform: scaleX(0.85);
}
.operation-choice .operation-description p {
  font-size: 0.95rem;
  font-weight: bolder;
}
.operation-choice .operation-description:hover {
  background-color: #f5edff;
  cursor: pointer;
}
.operation-choice .operation-description:hover .fa-list-ul, .operation-choice .operation-description:hover .fa-mobile-alt, .operation-choice .operation-description:hover .fa-store {
  color: #9356dc;
}

.operation-description.operation-description--selected {
  background-color: #f5edff;
}
.operation-description.operation-description--selected .fa-store {
  margin-right: 19px;
  color: #9356dc;
  font-size: 1rem;
}

/* section restaurants */
#restaurants {
  display: flex;
  flex-flow: column nowrap;
  background-color: #f6f6f6;
  padding: 0 5.33%;
}
#restaurants .restaurants__title {
  width: 100%;
  height: 104px;
  padding-top: 56px;
}
#restaurants .restaurants__title h2 {
  font-size: 1.3rem;
}
#restaurants .restaurants__examples {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-bottom: 46px;
}

.restaurants__examples a {
  display: flex;
  width: 100%;
  min-width: 280px;
  max-width: 400px;
  height: 251px;
  text-decoration: none;
  color: #000000;
  margin-bottom: 18px;
}
.restaurants__examples a .restaurants__example {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -o-box-shadow: 0px 7px 5px 0px #eaeaea;
  -ms-box-shadow: 0px 7px 5px 0px #eaeaea;
  box-shadow: 0px 7px 5px 0px #eaeaea;
  border-radius: 15px;
  overflow: hidden;
}
.restaurants__examples a .restaurants__example figure {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.restaurants__examples a .restaurants__example figure img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 98%;
     object-position: 100% 98%;
  width: 100%;
  height: 175px;
}
.restaurants__examples a .restaurants__example figure .position-center {
  -o-object-position: 100% 62%;
     object-position: 100% 62%;
}
.restaurants__examples a .restaurants__example figure p {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 29px;
  left: 70.64%;
  top: 19px;
  z-index: 1000;
  color: #008766;
  background-color: #99e2d0;
  font-size: 0.7rem;
  font-weight: 900;
  border-radius: 2px;
}
.restaurants__examples a .restaurants__example .container_description {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 16px 23px 16px 13px;
  background-color: #ffffff;
  height: 76px;
}
.restaurants__examples a .restaurants__example .container_description .society {
  display: flex;
  font-size: 0.82rem;
  font-weight: bold;
}
.restaurants__examples a .restaurants__example .container_description .container-heart {
  position: relative;
  display: grid;
  grid-column: 2;
  grid-row: span 2;
}
.restaurants__examples a .restaurants__example .container_description .container-heart .Capa_1 {
  position: absolute;
  display: flex;
  top: 5px;
  transform: scale(0.999);
}
.restaurants__examples a .restaurants__example .container_description .container-heart .Capa_2 {
  position: absolute;
  top: 5px;
  display: flex;
  opacity: 0;
  transition-duration: 200ms;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}
.restaurants__examples a .restaurants__example .container_description .container-heart .Capa_2:hover {
  opacity: 1;
  z-index: 1000;
}
.restaurants__examples a .restaurants__example .container_description p {
  display: flex;
  font-size: 0.82rem;
}

/* HEADER */
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 63px;
}
header .header__logo {
  display: flex;
  width: 164px;
  height: 100%;
}
header .header__logo img {
  display: flex;
  width: 100%;
  height: 100%;
}

/* FOOTER */
footer {
  display: flex;
  flex-flow: column nowrap;
  padding: 25px 6.66% 35px 6.66%;
  width: 100%;
  background-color: #353535;
}
footer #societyName {
  display: flex;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 0.82rem;
  color: #ffffff;
  width: 100px;
  padding-bottom: 18px;
  letter-spacing: 0.5px;
}
footer .footer__nav {
  display: flex;
}
footer .footer__nav ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 80px;
}
footer .footer__nav ul li {
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  color: #ffffff;
  font-size: 0.73rem;
}
footer .footer__nav ul li .fa-utensils {
  display: flex;
  align-items: flex-start;
  font-size: 0.7rem;
  margin-right: 10px;
  transform: scaleY(0.85);
}
footer .footer__nav ul li .fa-hands-helping {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  margin-right: 7px;
  margin-left: -2px;
  transform: scale(0.7) rotate(-20deg);
}

/* À LA FRANÇAISE */
/* HEADER */
.heading-la-palette-du-gout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  padding: 0 23px;
}
.heading-la-palette-du-gout a {
  text-decoration: none;
  color: #000000;
}
.heading-la-palette-du-gout a .fas.fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 24px;
}

/* section visual */
.visual {
  display: flex;
  flex-flow: column nowrap;
  z-index: -1000;
}
.visual figure {
  position: relative;
  display: flex;
  width: 100%;
  height: 256px;
  overflow: hidden;
}
.visual figure img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scaleX(1.07);
  width: 100%;
  height: 100%;
}

/* section article */
.principal {
  display: flex;
  flex-flow: column nowrap;
  background-color: #eaeaea;
  margin-top: -50px;
  padding-bottom: 83px;
  border-radius: 33px 33px 0 0;
}
.principal .principal__title {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 33px 38px 29px 18px;
}
.principal .principal__title h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.65rem;
}
.principal .principal__title #Capa_1 {
  position: absolute;
  right: 38px;
  top: 40px;
}

.general {
  display: flex;
  align-items: center;
  padding-left: 18px;
  height: 36px;
}
.general .general__border-entrees {
  display: flex;
  align-items: center;
  height: 38px;
  width: 60px;
  background-image: linear-gradient(270deg, #eaeaea 18px, #99e2d0 18px);
}
.general .general__border-entrees .entrees {
  display: flex;
  align-items: center;
  height: 36px;
  margin: -5px 0 0 -1px;
  font-size: 0.85rem;
  background-color: #eaeaea;
  color: #1f1f1f;
}

.general__chooses {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 14px;
}
.general__chooses .general__choose {
  -o-box-shadow: 0 0 5px 5px rgba(212, 212, 212, 0.23);
  -ms-box-shadow: 0 0 5px 5px rgba(212, 212, 212, 0.23);
  box-shadow: 0 0 5px 5px rgba(212, 212, 212, 0.23);
  display: flex;
  flex-flow: row nowrap;
  width: 349px;
  height: 68px;
  margin-bottom: 14px;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
}

.general__choose__slider {
  display: flex;
}
.general__choose__slider .left-side {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  width: 275px;
  padding: 12px 0 12px 0;
}
.general__choose__slider .left-side h4 {
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}
.general__choose__slider .left-side .information {
  font-size: 0.78rem;
  color: #303030;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}
.general__choose__slider .right-side {
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.general__choose__slider .right-side .price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 12px;
  width: 80px;
  height: 100%;
  font-size: 0.8rem;
  font-weight: bold;
}
.general__choose__slider .right-side .price .currency {
  padding-left: 1px;
  font-size: 0.8rem;
  font-weight: bold;
}
.general__choose__slider .my-selection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  background-color: #99e2d0;
}
.general__choose__slider .my-selection .fa-check {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: #99e2d0;
  padding: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0.69);
}

.general__choose__slider:hover {
  cursor: pointer;
}
.general__choose__slider:hover .left-side {
  -webkit-animation-name: reduce;
          animation-name: reduce;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.general__choose__slider:hover .left-side > H4, .general__choose__slider:hover .left-side > .information {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-animation-name: reduce;
          animation-name: reduce;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.general__choose__slider:hover .my-selection > .fa-check {
  -webkit-animation-name: drive;
          animation-name: drive;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes drive {
  0% {
    transform: rotate(0deg) scale(0.69);
  }
  100% {
    transform: rotate(360deg) scale(0.69);
  }
}

@keyframes drive {
  0% {
    transform: rotate(0deg) scale(0.69);
  }
  100% {
    transform: rotate(360deg) scale(0.69);
  }
}
@-webkit-keyframes reduce {
  0% {
    width: 270px;
  }
  100% {
    width: 210px;
  }
}
@keyframes reduce {
  0% {
    width: 270px;
  }
  100% {
    width: 210px;
  }
}
.principal > .ordering {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}
.principal > .ordering h5 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(172deg, #eb72da 15%, #9d59dc 100%);
  -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.135);
  -ms-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.135);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.135);
  width: 186px;
  height: 50px;
  font-size: 0.9rem;
  border-radius: 50px;
  color: #ffffff;
}