@import './_variables';
@import './mixins.scss';

/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
a{
    text-decoration : none;
}
li{
    list-style: none;
}
/* HEADER */
header{
    @include rowTextCenter;
    position: relative;
    height: 63px;
    
    .header__logo{
        display: flex;
        width: 164px;
        height: 100%;
        
        img{
            display: flex;
            width: 100%;
            height: 100%;
        }
    }
}
/* MAIN */
main{
    display: flex;
    flex-flow: column nowrap;
}
/* section location */
.location{
    @include rowTextCenter;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(180deg, rgba(183, 183, 183, 0.68) 0.05%, rgba(234, 234, 234, 1) 7%);

    .location__wrapper{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 164px;
        height: 100%;

        .fas.fa-map-marker-alt{
            display: flex;
            align-items: center;
            padding: 16px 17px 18px 0;
            font-size: 0.95rem;
            color: #353535;
        }

        p{
            display: flex;
            align-items: center;
            padding: 16px 0;
            font-size: 0.93rem;
            color: #353535;
        }
    }
}
/* section description */
.description{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding: 41px 0 57px 0;
    background-color: $backgroundLightGrey;

    h1{
        text-align: center;
        font-size: 1.3rem;
        padding: 0 20.2% 14px 16.5%; 
    }

    p{
        text-align: center;
        padding: 0 8.8% 27px 10%;
        color: #414141;
    }

    .description__btn{
        @include rowTextCenter;
        @include violetGradientButton;
        @include boxShadowButton;
        width: 210px;
        height: 50px;
        font-size: 0.9rem;
        border-radius: 50px;
        color: $colorWhite;
        overflow: hidden;

        a{
            @include rowTextCenter;
            display: flex;
            width: 100%;
            height: 100%;

            p{
                display: flex;
                flex-flow: row nowrap;
                color: $colorWhite;
                padding: 0 20px;
                font-size: 0.9rem;
            }
        }
    } 
}
/* section notice */
.operation{
    display: flex;
    flex-flow: column nowrap;

    .operation__title{
        display: flex;
        height: 103px;
        padding: 50px  5.33% 30px 5.33%;

        h2{
            font-size: 1.3rem;
        }
    }

    .operation__choices{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 4.8% 44px 4.8%;
    }
}
.operation-choice{
    display: flex;
    align-items: center;
    width: 100%;
    height: 73px;
    margin-bottom: 24px;

    .operation-step{
        position: absolute;
        @include rowTextCenter;
        min-width: 24px;
        min-height: 24px;
        background-color:$colorViolet;
        border-radius: 50px;
        color: white;
        padding-top: 4px;
        font-size: 0.8rem;
    }
    .operation-description{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: $backgroundLightGrey;
        @include lightBoxShadowButton;
        margin-left: 12px;
        padding-left: 35px;
        border-radius: 15px;
        transition-property: background-color;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;

        .fa-mobile-alt{
            display: flex;
            width: 20px;
            height: 20px;
            margin-right: 19px;
            color: grey;
            font-size: 1.2rem;
        }

        .fa-list-ul, .fa-store{
            display: flex;
            width: 20px;
            height: 20px;
            margin-right: 19px;
            color: #7e7e7e;
            font-size: 1.2rem;
            transform: scaleX(0.85);
        }

        p{
            font: {
                size: 0.95rem,;
                weight: bolder;
            }  
        }
        &:hover{
            background-color: #f5edff;
            cursor: pointer;
        
            .fa-list-ul, .fa-mobile-alt, .fa-store{
                color: $colorViolet;
            }
        }
    }           
} 
.operation-description.operation-description--selected{
    background-color: #f5edff;
    
    .fa-store{
        margin-right: 19px;
        color: $colorViolet;
        font-size: 1rem;
    }
}     
/* section restaurants */
#restaurants{
    display: flex;
    flex-flow: column nowrap;
    background-color: $backgroundLightGrey;
    padding: 0 5.33%;

    .restaurants__title{
        width: 100%;
        height: 104px;
        padding-top: 56px;

        h2{
            font-size: 1.3rem;
        }
    }
    .restaurants__examples{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding-bottom: 46px;
    }
}
.restaurants__examples a{
    display: flex;
    width: 100%;
    min-width: 280px;
    max-width: 400px;
    height: 251px;
    text-decoration: none;
    color: $colorBlack;
    margin-bottom: 18px;

    .restaurants__example{
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: 100%;
        background-color: $colorWhite;
        @include lightBoxShadowButton;
        border-radius: 15px;
        overflow: hidden;
        
        figure{
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;

            img{
                position: absolute;
                object-fit: cover;
                object-position: 100% 98%;
                width: 100%;
                height: 175px;
            }
            .position-center{
                object-position: 100% 62% ;
            }
            p{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 81px;
                height: 29px;
                left: 70.64%;
                top: 19px;
                z-index: 1000;
                color: $colorNewProduct;
                background-color: $backgroundColorNewProduct;
                font-size: 0.7rem;
                font-weight: 900;
                border-radius: 2px;
            }
        }
        .container_description{
            display: grid;
            grid-template-columns: 9fr 1fr;
            grid-template-rows: repeat(2, 1fr);
            padding: 16px 23px 16px 13px;
            background-color: $colorWhite;
            height: 76px;

            .society{
                display: flex;
                font: {
                    size: 0.82rem;
                    weight: bold;
                }
            }
            .container-heart{
                position: relative; 
                display: grid;
                grid-column: 2;
                grid-row: span 2;   
                      
                
                .Capa_1{
                    position: absolute;
                    display: flex;
                    top: 5px;   
                    transform: scale(0.999);            
                }

                .Capa_2{
                    position: absolute;
                    top: 5px;
                    display: flex;
                    opacity: 0;
                    transition-duration: 200ms;
                    transition-property: opacity;
                    transition-timing-function: ease-in-out;
                    
                    &:hover{
                        opacity: 1;
                        z-index: 1000;
                    }
                }
            }

            p{
                display: flex;
                font-size: 0.82rem;
            }
        }
    } 
}
/* FOOTER */
footer{
    display: flex;
    flex-flow: column nowrap;
    padding: 25px 6.66% 35px 6.66%;
    width: 100%;
    background-color: #353535;

    #societyName{
        display: flex;
        align-items: center;
        font-family: 'Shrikhand', cursive;
        font-size: 0.82rem;
        color: $colorWhite;
        width: 100px;
        padding-bottom: 18px;
        letter-spacing: 0.5px;
    }
    .footer__nav{
        display: flex;

        ul{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            height: 80px;

            li{
                display: flex;
                justify-content: flex-start;
                flex-flow: row nowrap;
                color: $colorWhite;
                font-size: 0.73rem;

                .fa-utensils{
                    display: flex;
                    align-items: flex-start;
                    font-size: 0.7rem;
                    margin-right: 10px;
                    transform: scaleY(0.85);
                }

                .fa-hands-helping{
                    display: flex;
                    align-items: center;
                    font-size: 0.7rem;
                    margin-right: 7px;
                    margin-left: -2px;
                    transform: scale(0.7) rotate(-20deg);
                }
            }
        }
    }
}

/* À LA FRANÇAISE */
/* HEADER */
.heading-la-palette-du-gout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    padding: 0 23px;

    a{
        text-decoration: none;
        color: $colorBlack;

        .fas.fa-arrow-left{
            position: absolute;
            top: 20px;
            left: 24px;
        }
    }
}
/* MAIN */
main{
    display: flex;
    flex-flow: column nowrap;
}
/* section visual */
.visual{
    display: flex;
    flex-flow: column nowrap;
    z-index: -1000;

    figure{
        position: relative;
        display: flex;
        width: 100%;
        height: 256px;
        overflow: hidden;

        img{
            position: absolute;
            object-fit: cover;
            transform: scaleX(1.07);
            width: 100%;
            height: 100%;
        }
    }
}
/* section article */
.principal{
    display: flex;
    flex-flow: column nowrap;
    background-color: $backgroundGrey;
    margin-top: -50px;
    padding-bottom: 83px;
    border-radius: 33px 33px 0 0;

    .principal__title{
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 33px 38px 29px 18px;
        h1{
            font-family: 'Shrikhand', cursive;
            font-size: 1.75rem;
        }
        #Capa_1{
            position: absolute;
            right: 38px;
            top: 40px;
        }
    }
}
.general{
    display: flex;
    align-items: center;
    padding-left: 18px;
    height: 36px;

    .general__border-entrees{
        display: flex;
        align-items: center;
        height: 38px;
        width: 60px;
        background-image: linear-gradient(270deg, #eaeaea 18px, rgba(153, 226, 208,1) 18px);
        
        .entrees{
            display: flex;
            align-items: center;
            height: 35px;
            margin-top: -3px;
            font-size: 0.89rem;
            background-color: #eaeaea;
        }      
    }
}
.general__chooses{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 14px;

    .general__choose{
        @include menuBoxShadow;
        display: flex;
        flex-flow: row nowrap;
        width: 349px;
        height: 68px;
        margin-bottom: 14px;
        background-color: $colorWhite;
        border-radius: 15px;
        overflow: hidden;
    }
}
.general__choose__slider{
    display: flex;

    .left-side{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        height: 100%;
        width: 275px;
        padding: 12px 0 12px 0;

        h4{
            font-size: 1.05rem; 
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;   
            padding-left: 10px;
        }

        .information{
            font-size: 0.9rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; 
            padding-left: 10px;
        }
    }

    .right-side{
        display: flex;
        align-items: flex-end; 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .price{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 12px;
            width: 80px;
            height: 100%;
            font-size: 0.8rem;
            font-weight: bold;

            .currency{
                padding-left: 1px;
                font-size: 0.8rem;
                font-weight: bold;
            }
        }                   
    }
    
    .my-selection{
        @include rowTextCenter;
        width: 60px;
        height: 100%;
        background-color: $backgroundColorNewProduct;
                
        .fa-check{
            @include rowTextCenter;
            color: #99e2d0;
            padding: 6px;
            background-color: $colorWhite;
            border-radius: 50%;
            transform: scale(0.69);      
        }
    }
}
.general__choose__slider:hover{
    cursor: pointer;

    .left-side{
        animation-name: reduce;
        animation-duration: 300ms;
        animation-delay: 0;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    .left-side > H4, .left-side > .information{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        animation-name: reduce;
        animation-duration: 300ms;
        animation-delay: 0;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    .my-selection > .fa-check{
        animation-name: drive;
        animation-duration: 350ms;
        animation-delay: 50ms;
        animation-iteration-count: 1;
        animation-timing-function: ease;
    }   
}       
@keyframes drive {
    0%{
        transform: rotate(0deg) scale(0.69);   
    }
    100%{
        transform: rotate(360deg) scale(0.69);
    }
}
@keyframes reduce {
    0%{
        width: 270px;
    }
    100%{
        width: 210px;
    }
} 
.principal > .ordering{
    @include rowTextCenter;
    margin-top: 36px;

    h5{
        @include rowTextCenter;
        @include violetGradientButton;
        @include boxShadowButton;
        width: 186px;
        height: 50px;
        font-size: 0.9rem;
        border-radius: 50px;
        color: $colorWhite;
    }
}






















