/* FOOTER */
footer {
    position: static;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    padding: 25px 6.66% 35px 6.66%;
    width: 100%;
    background-color: #353535;

    #societyName {
        display: flex;
        align-items: center;
        font: {
            family: 'Shrikhand', cursive;
            size: 1rem;
        }
        color: $colorWhite;
        width: 100px;
        padding-bottom: 18px;
        letter-spacing: 0.5px;
    }
    .footer__nav {
        display: flex;

        ul {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            height: 100px;

            li {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                flex-flow: row nowrap;
                color: $colorWhite;
                font-size: 0.95rem;
                
                .fa-utensils {
                    display: flex;
                    align-items: center;
                    font-size: 0.8rem;
                    height: 100%;
                    margin-right: 10px;
                    transform: scaleY(1);
                }

                .fa-hands-helping {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    font-size: 0.85rem;
                    margin: 0 7px 0 -2px;
                    transform: scale(0.7) rotate(-10deg);
                }
                &:nth-child(4) a {
                    font-size: 0.95rem;
                    color: $colorWhite;
                    text-decoration: none;
                }
            }
        }
    }
}