/* FOOTER */
footer{
    display: flex;
    flex-flow: column nowrap;
    padding: 25px 6.66% 35px 6.66%;
    width: 100%;
    background-color: #353535;

    #societyName{
        display: flex;
        align-items: center;
        font: {
            family: 'Shrikhand', cursive;
            size: 0.82rem;
        }
        color: $colorWhite;
        width: 100px;
        padding-bottom: 18px;
        letter-spacing: 0.5px;
    }
    .footer__nav{
        display: flex;

        ul{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            height: 80px;

            li{
                display: flex;
                justify-content: flex-start;
                flex-flow: row nowrap;
                color: $colorWhite;
                font-size: 0.73rem;

                .fa-utensils{
                    display: flex;
                    align-items: flex-start;
                    font-size: 0.7rem;
                    margin-right: 10px;
                    transform: scaleY(0.85);
                }

                .fa-hands-helping{
                    display: flex;
                    align-items: center;
                    font-size: 0.7rem;
                    margin: 0 7px 0 -2px;
                    transform: scale(0.7) rotate(-20deg);
                }
            }
        }
    }
}