@mixin columnTextCenter{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
@mixin rowTextCenter{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
@mixin violetGradientButton($degrees, $firtColor, $percentFirstColor, $secondColor, $percentSecondColor){
    background: linear-gradient($degrees, $firtColor $percentFirstColor, $secondColor $percentSecondColor);
}
@mixin violetGradientButtonLighten($degrees, $firtColor, $percentFirstColor, $secondColor, $percentSecondColor){
    background: linear-gradient($degrees, lighten($firtColor, 4%) $percentFirstColor, lighten($secondColor, 4%) $percentSecondColor);
}

@mixin boxShadowButton($horizontalShadowLenght, $verticalShadowLenght, $blurRadius, $spreadRadius, $color){
    box-shadow: $horizontalShadowLenght $verticalShadowLenght $blurRadius $spreadRadius $color;
}
@mixin boxShadowButtonDarken ($horizontalShadowLenght, $verticalShadowLenght, $blurRadius, $spreadRadius, $shadowColor){
    box-shadow: $horizontalShadowLenght $verticalShadowLenght $blurRadius $spreadRadius darken($shadowColor, 6%);
}

@mixin lightBoxShadowButton{
    box-shadow: 0px 7px 5px 0px #eaeaea;
}

@mixin menuBoxShadow{
    -webkit-box-shadow: 0 0 5px 5px rgba(212, 212, 212, 0.23);
    -moz-box-shadow: 0 0 5px 5px rgba(212, 212, 212, 0.23);
    -o-box-shadow: 0 0 5px 5px rgba(212, 212, 212, 0.23);
    -ms-box-shadow: 0 0 5px 5px rgba(212, 212, 212, 0.23);
    box-shadow: 0 0 5px 5px rgba(212, 212, 212, 0.23);
}
@mixin heart-animation {
    position: relative; 
    display: grid;
    grid-column: 2;
    grid-row: span 2;   
                        
    .Capa_1{
        position: absolute;
        display: flex;
        top: 5px;        
    }

    .Capa_2{
        position: absolute;
        top: 5px;
        display: flex;
        opacity: 0;
        transition: opacity 200ms ease;   
        &:hover{
            opacity: 1;
            cursor: pointer;
        }
    }
}
@mixin heart-animation2 {
    position: relative;
    display: flex;
    align-items: center;

    .Capa_3 {
        position: absolute;
        transform: scale(1.15);
    }
    .Capa_4 {
        transform: scale(1.15);
        opacity: 0;
        transition: opacity 200ms ease;
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
    @media screen and (max-width: 374px){
        transform: scale(0.9);
        font-size: 5vw;
    }
}
