/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
a{
    text-decoration : none;
}
li{
    list-style: none;
}
/* BODY */
body{
    width: 100%;
    height: 100%;
    background-color: $colorWhite;
}
/* MAIN */
main{
    display: flex;
    flex-flow: column nowrap;
}

